<table class="table">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Location</th>
        <th>Address</th>
        <th>Skills</th>
        <th> Action</th>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let item of FA;let i=index ">
        <td #e+{{i}}+1>{{i+1}}</td>
        <td #e{{i}}2>{{ item?.name }}</td>
        <td #e{{i}}3>{{ item?.Gender }}</td>
        <td #e{{i}}4>{{ item?.location }}</td>
        <td #e{{i}}5>{{ item?.address }}</td>
        <td> 
          <div style="display: flex;">
            <p *ngIf="item?.skills1!==''">{{ item?.skills1 }}</p>
            <p *ngIf="item?.skills1!=='' && item?.skills2!=='' ">,</p>
            <p *ngIf="item?.skills1!=='' && item?.skills2=='' && item?.skills3!='' ">,</p>
            <p *ngIf="item?.skills2!==''">{{ item?.skills2 }}</p>
            <p *ngIf="item?.skills2!=='' && item?.skills3!=='' ">,</p>
            <p *ngIf="item?.skills3!==''">{{ item?.skills3 }}</p>
            <p *ngIf="item?.skills1=='' && item?.skills2==''&& item?.skills3==''">Null<p>
          </div>
           
        
        </td>
        <td><button class="btn btn-primary" (click)="edit(item,i)">edit</button></td> 
      </tr>
  
    </tbody>
    
  </table>
